doctype
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="description", content="#{description}")
    meta(name="keywords", content="#{keywords}")
    meta(name="viewport", content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

    meta(property="fb:app_id", content="#{facebook.app_id.stage}")
    meta(property="og:type", content="business.business")
    meta(property="og:title", content="#{title}")
    meta(property="og:site_name", content="#{title}")
    meta(property="og:url", content="#{url}")
    meta(property="og:image", content="#{url}/imgs/facebook-og.png")

    != partial("_shared/css")
  body
    != partial("_shared/header")
    main
      != yield
    != partial("_shared/footer")