- var tel = phone.replace(/\./g, "")

footer#footer
    div
        p 1417 NW 54th St #105
            br 
            | Seattle, WA 98107
            br
            br
            a(href="tel:#{tel}", onclick="ga('send', 'event', 'Footer - Phone', 'Click', '#{phone}');")= phone
            br
            a(href="mailto:#{email.melissa}", onclick="ga('send', 'event', 'Footer - Email - Melissa', 'Click', '#{email.melissa}');") Melissa
            br
            a(href="mailto:#{email.nicka}", onclick="ga('send', 'event', 'Footer - Email - Nicka', 'Click', '#{email.nicka}');") Nicka
            br
            br
            span(class="footer-copyright") &copy; 2017
    div
        p
            a(href="#{yelp.url}", target="_blank", onclick="ga('send', 'event', 'Footer - Yelp', 'Click', '#{yelp.url}');")
                span(class="fa fa-yelp")
            a(href="#{facebook.url}", target="_blank", onclick="ga('send', 'event', 'Footer - Facebook', 'Click', '#{facebook.url}');")
                span(class="fa fa-facebook-square")
            a(href="#{instagram.url}", target="_blank", onclick="ga('send', 'event', 'Footer - Instagram', 'Click', '#{instagram.url}');")
                span(class="fa fa-instagram")