- var tel = phone.replace(/\./g, "")
- var year = new Date().getFullYear();

footer#footer
    div
        p 1417 NW 54th St #105
            br 
            | Seattle, WA 98107
            br
            br
            a(href="tel:#")= phone
            br
            a(href="mailto:#") Melissa
            br
            a(href="mailto:#") Nicka
            br
            br
            span(class="footer-copyright") &copy;#{year}
    div
        p
            a(href="#{yelp.url}", target="_blank")
                span(class="fa fa-yelp")
            a(href="#{facebook.url}", target="_blank")
                span(class="fa fa-facebook-square")
            a(href="#{instagram.url}", target="_blank")
                span(class="fa fa-instagram")